body {
    overflow: scroll;
}

/****** Multiple files ******/
#background {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
}

footer {
  padding: 20px 40px 30px 40px;
}


a {
    text-decoration: none;
    color: black;
}
#background {
    overflow: scroll;
    display: block;
    height: 100%
    widows: 100%;
    background: radial-gradient(farthest-corner at 100% 100%, #BFE5C2, #52BECC);
}
#wrapper {
    margin: 0 auto 0 auto;
    width: 85%;
    box-shadow: 2px 0px 15px #888888;
    background-color: white;
}
/******** Header ************/
header {
    height: 60px;
    background-color: white;
}

header span {
    margin-left: 10px;
}

#logo {
    box-sizing: border-box;
    display: inline-block;
    margin: 10px;
    float: left;
    width: 200px;
    height: 40px;
    background: url('../img/slice-logo.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

/******** Nav Bar ************/
nav {
    height: 35px;
    background-color: #5F5F60;
    color: white;
}

#nav-links {
    margin-left: 7.5%;
}
/******** Loading Page ************/

#loading {
    text-align: center; 
}
#loading img {
    text-align: 40px 0 40px 0; 
}

/******** Login Page ************/
.login-button, .login-button a {
    display: inline-block;
    text-align: center;
    margin: 20px 0px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    background-color: #24ACBF;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
}

.login-list, .login-list li {
    margin: 10px 0px 0px 0px;
}

.login-list p {
    margin: 10px 0px 0px 0px;
}

